useDynLib(scclrR)
importClassesFrom(Matrix,dgCMatrix)
importFrom(methods,as)
importFrom(methods,new)
export(estimate_overdispersion)
export(normalize_matrix)
export(pca_matrix)
export(pflog)
export(run_pca)
